@import "constants.scss";

html, body
{
	// Removes higlight on tap on mobile devices.
	-webkit-tap-highlight-color : transparent;
}

body
{
	/* Disables "double tap to zoom in" on mobile devices. */
	/* https://stackoverflow.com/questions/46167604/iphone-html-disable-double-tap-to-zoom */
	touch-action: manipulation;
}

body, .button, input, textarea, select
{
	font-family : Arial, Helvetica, Sans;
	font-size   : var(--font-size);
}

body
{
	margin     : 0;
	overflow-y : scroll;
}

a
{
	color: inherit;
}

a:active
{
	color: var(--base-color-darker);
}

/* Internet Explorer adds borders around all images */
img
{
	border: none;
}