@import "constants.scss";

.button
{
	background : none;
	border     : none;
	outline    : none;
	padding    : 0;

	transition: all 30ms ease-out;

	&:active
	{
		color: var(--base-color-lighter);
	}
}

.page-header
{
	margin-top : 0;
	text-align : center;
}

.page-content
{
	padding-top    : calc(var(--unit) * 1);
	padding-bottom : calc(var(--unit) * 4);
	padding-left   : calc(var(--unit) * 6);
	padding-right  : calc(var(--unit) * 6);
}