
// Duplicating the native CSS variable just for SASS
$unit: 12px;

// https://www.sitepoint.com/managing-responsive-breakpoints-sass/
// `$screen-sm-min` must be equal to `DESKTOP_SCREEN_MIN_WIDTH` in `App.js`
$screen-sm-min: $unit * 64; // 768px
$screen-xs-max: $screen-sm-min - 1;
$screen-md-min: $unit * 82; // 984px
$screen-sm-max: $screen-md-min - 1;
$screen-lg-min: $unit * 100; // 1200px
$screen-md-max: $screen-lg-min - 1;

@mixin xs
{
  @media all and (max-width: $screen-xs-max)
  {
    @content;
  }
}

@mixin s
{
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
  {
    @content;
  }
}

@mixin m
{
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max)
  {
    @content;
  }
}

@mixin l
{
  @media all and (min-width: $screen-lg-min)
  {
    @content;
  }
}

@mixin xs-s
{
  @media all and (max-width: $screen-sm-max)
  {
    @content;
  }
}

@mixin xs-m
{
  @media all and (max-width: $screen-md-max)
  {
    @content;
  }
}

@mixin s-m
{
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-md-max)
  {
    @content;
  }
}

@mixin m-l
{
  @media all and (min-width: $screen-md-min)
  {
    @content;
  }
}

@mixin s-l
{
  @media all and (min-width: $screen-sm-min)
  {
    @content;
  }
}