@import "~react-responsive-ui/style";

@media (max-width: 720px)
{
	@import "~react-responsive-ui/small-screen/Modal";
	@import "~react-responsive-ui/small-screen/Snackbar";
	@import "~react-responsive-ui/small-screen/DatePicker.InputOverlay";
}

:root
{
	--rrui-unit               : var(--unit);
	--rrui-white-color        : var(--white-color);
	--rrui-black-color        : var(--black-color);
	--rrui-accent-color       : var(--base-color);
	--rrui-accent-color-light : var(--base-color-lighter);
	--rrui-gray-color         : var(--gray-color);
}