body {
	margin: 0;
	padding: 40px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.main-title {
	display: block;
	text-align: center;
}

.main-menu {
	margin-top: 40px;
	margin-bottom: 0px;
	padding-left: 0;
	list-style-type: none;

	li {
		display: inline-block;
		margin-right: 20px;
	}
}

.main-content {
	padding-top: 40px;
	padding-bottom: 40px;
}